<!DOCTYPE html>
<html>
<head>
    <title>Task 4</title>
        <link rel="stylesheet" href="css/style.css">

</head>
<body>
        <h2>{{>header}}</h2>
        <div class="data"><h2> The Capital: {{CountryName}}</h2>
        <h2> The Weather: {{CountryWeather}}</h2>
        <h2> The Temperature: {{CountryTemp}} Celsius</h2>
        <h2> the latitude is: {{latitude}}</h2>
        <h2> the longitude is: {{longitude}}</h2>
        <h2>{{err}}</h2></div>

</body>
</html>
